@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
body {
  background: url('../images/bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

body * {
  font-family: 'Montserrat', sans-serif;
}
